.userBtn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 1px #858585;
    background-color: #ffffff;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    position: fixed;
    top: 0px;
    right: 10px;
    cursor: pointer;
    z-index: 80;
    button {
        width: 70px;
        height: 70px;
        border-radius: 50px;
        background-color: transparent;
        border: none;
    }
}
.userBtn:hover {
    box-shadow: 0 0 12px black;
}

.userOpen {
    width: 230px;
    height: 220px;
    margin-right: 60px;
}

.userClosed {
    width: 0;
    height: 0;
}

.user {
    background-color: #ffffff;
    position: fixed;
    top: 50px;
    right: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 79;

    p {
        font-size: 1rem;
        color: #006eff;
        text-align: center;
    }
    label {
        margin-left: 20px;
        margin-bottom: 10px;
    }
    div {
        display: flex;
        justify-content: center;
        button {
            background-color: #ffffff;
            color: #ff0000;
            font-weight: bold;
            font-size: 1rem;
            border: none;
            padding: 6px 40px;
            margin-top: 20px;
            cursor: pointer;
            &:hover {
                background-color: #f0f0f0;
            }
        }
    }
}