
<div class="user" [ngClass]="userBtn ? 'userOpen' : 'userClosed'">

    <ng-template #logOff>
        <p>...</p>
    </ng-template>

    <label>Nome:</label>
    <p *ngIf="Usuario, else logOff">{{ Usuario.nome }}</p>
    <label>E-mail:</label>
    <p *ngIf="Usuario, else logOff">{{ Usuario.email }}</p>
    <div>
        <button (click)="logout()">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-door-closed" viewBox="0 0 16 16">
                <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3zm1 13h8V2H4z"/>
                <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0"/>
            </svg>
            Logout
        </button>
    </div>
</div>

<div class="userBtn">
    <button (click)="openUser()">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
        </svg>
    </button>
</div>


