.leftBar_Button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid 1px #858585;
    background-color: #ffffff;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    position: fixed;
    top: 0px;
    left: 10px;
    cursor: pointer;
    button {
        width: 80px;
        height: 80px;
        border-radius: 50px;
        background-color: transparent;
        border: none;
    }
}
.leftBar_Button:hover {
    box-shadow: 0 0 12px black;
}

.leftBarOpen{
    width: 300px;
}
.leftBarClosed{
    width: 0;
}


.leftBar {
    height: 100%;
    background-color: white;
    box-shadow: 0 0 30px black;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all .3s;
}
.closeBar button{
    border: none;
    background-color: white;
    scale: 1.8;
    float: right;
    margin: 30px;
    margin-right: 20px;
}
.logo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    img{
        width: 160px;
        height: 60px;
    }
}
.menu {
    width: 100%;
    height: 130px;
    margin-top: 20px;
    div {
        height: 50%;
        border: solid 1px #858585;
    }
    button {
        background-color: #f0f0f0;
        border: none;
        padding-left: 25px;
        cursor: pointer;
        font-size: 1.3rem;
        font-weight: 500;
        height: 100%;
        width: 100%;
        text-align: left;
    }
}

.shadow {
    background-color: rgba(0, 0, 0, 1);
    width: 100vw;
    height: 100vh;
    opacity: 0.6;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
}