header {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #ededed;
}

body , html {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 80vh;
}

.cardDashboard {
    position: fixed;
    display: flex;
    text-align: center;
    width: 15rem;
    height: 10rem;
    max-width: 40%;
    max-height: 60%;

    select {
        width: 100%;
    }
    h1 {
        font-size: 1.5rem;
    }
}

.imgVehicle {
    width: 100%;
    position: fixed;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
    img {
        width: 40%;
    }
}

@media (max-width: 1300px) {
    .cardDashboard {
        width: 12rem;
        height: 9rem;
        h1 {
            font-size: 1.2rem;
        }
    }
    .imgVehicle {
        top: 65%;
    }
}