table {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color:#1b357e;
    color: white;
    font-family: "Special Gothic Condensed One", sans-serif;

    thead th {
        padding: 10px;
        border: solid 1px black;
        font-size: 1.2rem;
    }

    tbody th {
        width: auto;
        padding: 10px;
        background-color: white;
        border: solid 1px rgb(184, 184, 184);
        color: black;
        .col-md-6 {
            width: 80%;
            margin-left: 30px;
            input {
                width: 10rem;
                border: solid 1px black;
            }
        }
    }

    tfoot tr {
        height: 0px;
    }

    #voidCode {
        padding: 10px;
        background-color: white;
        border: solid 1px rgb(184, 184, 184);
        color: black;
    }
}