<table>
    <thead>
        <tr>
            <th>Código - Vin</th>
            <th>Odômetro</th>
            <th>Nível de Combustível</th>
            <th>Status</th>
            <th>Lat.</th>
            <th>Long.</th>
        </tr>
    </thead>
    
    <ng-template #voidCode>
        <th>...</th>
    </ng-template>

    <tbody>
        <tr>
            <th>
                <div class="col-md-6">
                    <div class="input-group">
                        <input [formControl]="searchControl" (input)="Search()" type="text" class="form-control" placeholder="Insira o código" aria-label="Input group example" aria-describedby="basic-addon1" [(ngModel)]="code">
                    </div>
                </div>
            </th>
            <th *ngIf="vin; else voidCode">{{ vin.odometro }} km</th>
            <th *ngIf="vin; else voidCode">{{ vin.nivelCombustivel }}%</th>
            <th *ngIf="vin; else voidCode">{{ vin.status }}</th>
            <th *ngIf="vin; else voidCode">{{ vin.lat }}</th>
            <th *ngIf="vin; else voidCode">{{ vin.long }}</th>
        </tr>
    </tbody>

    <tfoot>
        <tr></tr>
    </tfoot>
</table>